---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Landing from "../islands/Landing.astro";
import About from "../islands/About.astro";
import Tech from "../islands/Tech.astro";
import Contact from "../islands/Contact.astro";
---

<Layout title="javlocan.dev">
  <header>
    <NavBar />
  </header>
  <main>
    <Landing />
    <canvas class="sparkles"></canvas>
    <div id="chivato" class="chivato"></div>
    <About />
    <Tech />
  </main>
  <footer>
    <Contact />
  </footer>
</Layout>

<style>
  main {
    position: relative;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 9999;

    width: 100vw;
  }
  footer {
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .sparkles {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
</style>
