---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
---

<Layout title="Welcome to Astro.">
  <header>
    <NavBar />
  </header>

  <main>
    <Landing />
    <div id="chivato" class="chivato"></div>
    <About />
  </main>

  <footer></footer>
</Layout>

<style>
  main {
    position: relative;
    min-height: 400vh;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
