<div class="container" id="landing">
  <div class="title"><h1>Javier Lopez Cantero</h1></div>
</div>

<style>
  .container {
    width: 100vw;
    height: 100vh;
    height: 100dvh;

    background: var(--clr-bg-dark);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    color: white;
  }
</style>
