<nav class="container" id="navbar">
  <a id="navicon" class="nav-icon">B</a>
</nav>

<style>
  .container {
    position: relative;

    margin-inline: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    width: 10vw;
    padding: 1.5rem 2.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: rgba(var(--clr-bg-dark), 0);
    color: white;

    transition: background 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  .scrolled--container {
    background: rgba(var(--clr-bg-dark), 1);
    transition: background 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  .open--container {
    border-radius: 0px;
    padding-top: 2.5rem;
    margin: 0;
    width: 100vw;
    height: 100dvh;
    transition: width 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  .nav-icon {
    cursor: pointer;
    color: white;
    opacity: 1;
    font-size: 2.2rem;
    font-family: "Anicons";
    font-variation-settings: "TIME" 100;
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 99;
  }
</style>
