<nav class="container" id="navbar">
  <h3>Hello</h3>
</nav>

<style>
  .container {
    width: 100vw;
    background: var(--clr-bg-dark);
    color: white;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .scroll {
    border-bottom: 1px solid black;
    opacity: 1;
    backdrop-filter: blur(10px);
  }
</style>
