<section class="container" id="about">
  <div class="grid">
    <img src="/perfil.jpeg" alt="My profile photo" class="photo" />
    <h2 class="hi">
      <b>Hi! 游녦游낖</b>
      <br />
      This is me, javi
    </h2>
    <h4>
      After a wild career in social work, I&apos;m now back to my engineering
      roots as a <b>fullstack</b> and <b>frontend</b> developer
    </h4>
    <p>
      A los 13 a침os destripaba plantillas de Tumblr. CSS2, HTML4... Remember
      Microsoft Frontpage? Lo dej칠 cuando 10.000 personas hab칤an elegido la m치s
      b치sica, fea y poco trabajada de todas las que hice. Dise침aba firmas para
      foros en la vanguardia del Photoshop (CS6) y jugaba con wordpress y
      blogspot cuando se hac칤an la competencia. Javascript era, a menudo, esa
      cosa que hac칤a romperse las p치ginas y las llenaba de historias molestas
      que cargaban extremadamente lento. En ingenier칤a aprend칤 algoritmia con C.
      Descubr칤 cu치nto disfrutaba resolviendo problemas l칩gicos y la creatividad
      que pod칤a poner en ello. <br /><br />Ha llovido desde entonces. Ahora me
      dedico a construir soluciones l칩gicas y visuales para la web, poniendo la
      intuitividad y accesibilidad en el centro. Una tecnolog칤a con
      interactividad sencilla y natural, algo que todas podamos usar.
    </p>
  </div>
</section>
<style>
  .container {
    width: 100vw;
    padding: 6rem 2rem;
    background-color: rgba(var(--clr-bg-med), 0.95);
    color: white;

    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }

  .grid {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    position: relative;
  }

  .hi {
    position: relative;
    margin-bottom: -1rem;
  }
  .hi b {
    font-size: 4rem;
    font-variation-settings: "wght" 750;
  }

  .photo {
    width: 100%;
    object-fit: cover;
    object-position: 66%;
    aspect-ratio: 1;
    border-radius: 100%;

    grid-row: 3;
  }

  @media (min-width: 800px) {
    .container {
      padding: 4rem 2rem;
    }
    .grid {
      grid-template-columns: repeat(5, 1fr);
      column-gap: 3rem;
      padding-block: 3rem;
    }
    .grid :nth-child(1) {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      grid-column: 4/6;
      grid-row: 1/4;
    }
    .grid :nth-child(2) {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .grid :nth-child(3) {
      grid-column: 1/4;
      grid-row: 2/3;
    }
    .grid :nth-child(4) {
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }
</style>
