<section class="container" id="footer">
  <h1>Contact</h1>
</section>

<style>
  .container {
    width: 100vw;
    background: var(--clr-bg-dark);
    color: white;
    height: 40rem;
    padding: 1rem 3rem;
    transition: opacity 0.3s ease-in-out;
  }

  .scroll {
    border-bottom: 1px solid black;
    opacity: 1;
    backdrop-filter: blur(10px);
  }
</style>
