<section class="container" id="landing">
  <div class="name">
    <h1 class="javier">
      jav<text>ier</text>
    </h1>
    <h1 class="lopez">
      lo<text>pez</text>
    </h1>
    <h1 class="cantero">
      can<text>tero</text>
    </h1>
  </div>
  <h3>.developer</h3>
</section>

<style>
  .container {
    overflow-x: clip;

    height: 100vh;
    height: 100dvh;
    padding-bottom: 5vh;

    background: var(--clr-bg-dark);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    user-select: none;
  }

  .javier {
    margin-left: 9rem;
    animation: javier 3s ease-in-out;
  }
  .lopez {
    margin-left: 10rem;
    animation: lopez 3s ease-in-out;
  }
  .cantero {
    margin-left: 9rem;
    animation: cantero 3s ease-in-out;
  }

  .name text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: opacity 3s ease-in-out;
  }
  .name:hover text {
    opacity: 0.3;
  }
  .name h1 {
    transition: margin 0.3s ease-in-out;
  }
  .name:hover h1 {
    margin: 0;
  }

  @media (max-width: 800px) {
    .javier,
    .lopez,
    .cantero {
      animation-iteration-count: infinite;
      animation-duration: 4s;
    }
    .name text {
      animation: opacity 4s infinite ease-in-out;
    }
  }

  @keyframes javier {
    from {
      margin-left: 7rem;
    }
    30% {
      margin-left: 0;
    }
    70% {
      margin-left: 7rem;
    }

    to {
      margin-left: 7rem;
    }
  }
  @keyframes lopez {
    from {
      margin-left: 8rem;
    }
    30% {
      margin-left: 0;
    }
    70% {
      margin-left: 8rem;
    }

    to {
      margin-left: 8rem;
    }
  }
  @keyframes cantero {
    from {
      margin-left: 7rem;
    }
    30% {
      margin-left: 0;
    }
    70% {
      margin-left: 7rem;
    }

    to {
      margin-left: 7rem;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    70% {
      opacity: 0;
    }

    to {
      opacity: 0;
    }
  }
</style>
