---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="../utils/scrollers.ts"></script>
    <script src="../utils/observer.ts"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    font-size: 14pt;
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --clr-bg-dark: rgb(50, 6, 54);

    --max-width: 1200px;
    --default-pd: 3rem;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    scroll-behaviour: smooth;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  body {
    position: relative;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  section {
    opacity: 0;
    margin-top: 20px;
    transition: opacity 0.5s ease-in;
    transition: margin-top 0.5s ease-in;
    transition-delay: 0.2s;
  }
  .active {
    opacity: 1;
    margin-top: 0px;
    transition: margin-top 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    transition-delay: 0.2s;
  }
</style>
